# Ignore Python cache and compiled files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/venv/

# Ignore existing database and log files
**/*.sqlite
**/*.log

# Ignore git files
.git/
.gitignore

# Ignore IDE files
.vscode/
.idea/
*.swp
*.swo

**/node_modules/
